@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .custom-icon{
        @apply relative flex items-center 
        justify-center h-14 w-14
        mt-4 mb-2 mx-auto
        bg-back-800
        text-primary 
        hover:bg-primary
        hover:text-back-600
        rounded-3xl hover:rounded-xl 
        transition-all cursor-pointer
        duration-300 ease-linear; 
    }
    .tooltip{
        @apply absolute 
        w-auto z-20
        left-14 text-sm text-slate-100
        bg-back-600 p-2 m-2.5 min-w-max shadow-md rounded-r-2xl font-bold
        transition-all duration-200 origin-left scale-0
        rounded-l-[2.5rem]
    }
    .custom-btn{
        @apply mb-3 w-auto p-2 inline-block text-slate-100 rounded-xl 
        transition-all duration-300
        hover:bg-primary
    }
    
}

.text-shadow-pop-bl:hover {
    -webkit-animation: text-shadow-pop-bl 0.8s both;
            animation: text-shadow-pop-bl 0.8s both;
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #7289da, -2px 2px #7289da, -3px 3px #7289da, -4px 4px #7289da, -5px 5px #7289da, -6px 6px #7289da, -7px 7px #7289da, -8px 8px #7289da;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da, 0 0 #7289da;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #7289da, -2px 2px #7289da, -3px 3px #7289da, -4px 4px #7289da, -5px 5px #7289da, -6px 6px #7289da, -7px 7px #7289da, -8px 8px #7289da;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
